### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [14]:
unique_SN = purchase_data["SN"].nunique()
unique_SN

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
# unique items
unique_items = purchase_data["Item Name"].nunique()

# mean price
average_price = purchase_data["Price"].mean()

# number of purchases
purchase_data.shape[0]

# total revenue
revenue = purchase_data["Price"].sum()

# creating a dataframe
purchase_df = ({"Number of Unique Items": [str(unique_items)], 
                "Average Price": ["$"+ str(average_price.round(2))],
                "Number of Purchases": [str(purchase_data.shape[0])],
                "Total Revenue": ["$"+ str(revenue)]
                           }
                          )

purchase_analysis = pd.DataFrame(purchase_df)
purchase_analysis

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    179         $3.05                 780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [58]:
gender= purchase_data["Gender"].value_counts().to_frame()

# adding percentage of players column
percentage_of_players = ((gender["Gender"]/780)*100).round(2)
gender["Percentage of Players"] = percentage_of_players

# renaming "gender" column
renamed_gender = gender.rename(columns = {"Gender" : "Total Count"})
renamed_gender

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
# Using GroupBy in order to separate the data into fields according to "state" values

grouped_purchase_data_SN = purchase_data.groupby(["SN"])

grouped_average_purchase = grouped_purchase_data_SN["Price"].mean()

grouped_average_purchase.head()

grouped_purchase_data = purchase_data.groupby(["Gender"])

grouped_purchase_count = grouped_purchase_data.count()

grouped_mean = grouped_purchase_data["Price"].mean()

grouped_sum = grouped_purchase_data["Price"].sum()

# Print final dataframe

gender_summary = pd.DataFrame({"Purchase Data": grouped_purchase_count, 
                              "Average Purchase Price": grouped_mean, 
                              "Total Purchase Value": grouped_sum,
                              "Avg Total Purchase per Person": grouped_average_purchase})

gender_summary.head(20)

ValueError: Shape of passed values is (6, 4), indices imply (579, 4)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80